  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;500;600&family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;;
}

html, body {
font-family: "Oswald", sans-serif;
}
.background {
    background-image: url("./Bg.jpeg");
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    color: brown;
    display:grid;
    place-items: center;
    height: 100vh;
    
}

.container h1{
    font-size: 4rem;
}

.settings{
 position: absolute;
 bottom:30px;
 right:20px;
 display:flex;
 align-items: center;
 gap:1rem;
}
.settings .fa-cog {
    font-size:3rem;
    color:white;
    display: flex;
}
.settings-content {
    display: flex;
    gap:1rem;
}
.settings-content input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.settings-content button {
    padding: 0.5rem 1rem;
    background-color: green;
    border:none;
    border-radius:10px;
    font-size: 1rem;
    color:black
}
.hide{
    display: none;
}
.time-conatainer{
    display:flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    
}
.time-conatainer h2 {
    text-align: center;
    font-size:3rem;
}
.time-conatainer div {
    color:white;
    font-size:4rem;
}